.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace

*.bin
*.elf
*.hex
*.map
*.eep
*.lst
*.lss
*.dmp

build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.pio/
.pioenvs/
.piolibdeps/

*.log

!docs/
!docs/**
